@charset "UTF-8";

/* -------------------------------------------
base
------------------------------------------- */

*
{
    margin: 0;
    /*outline:1px solid #0000FF;*/
}

html
{
    overflow-y: scroll;
    visibility: hidden;
    letter-spacing: .8px;
}

html.wf-active
{
    visibility: visible;
}

body
{
    overflow: hidden;
    background-color: #f1f1f1;
    color: #292929;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", HelveticaNeue, YuGothic, "Yu Gothic Medium", "Yu Gothic", Verdana, Meiryo, sans-serif;
    line-height: 1.5;
}

a
{
    color: #292929;
}

a:hover
{
    color: #292929;
    text-decoration: none;
    transition: all 0.3s;
}

.max-width
{
    max-width: 1350px;
}

/* -------------------------------------------
header & footer
------------------------------------------- */

.header
{
    background-color: #2e3440;
}

.footer
{
    background-color: #2e3440;
}

.footer-item
{
    text-align: center;
}

.header-item a
{
    color: #ffffcc;
    font-family: 'Dosis';
    font-size: 50%;
    vertical-align: middle;
}

ul.header-list
{
    display:block;
    overflow-x: auto;
    overflow-y: hidden;
    overflow: auto;
    white-space: nowrap;
}

.header-list li
{
    display: inline;
}

.header-list li.list-group-item a
{
    font-size: 70%;
}

.footer-item span
{
    color: #ffffcc;
    font-family: 'Roboto';
    font-size: 80%;
}

/* -------------------------------------------
navbar
------------------------------------------- */

.nav-container
{
    background-color: #455d7a;
}

.nav-container ul
{
    display:block;
    overflow-x: auto;
    overflow-y: hidden;
    overflow: auto;
    white-space: nowrap;
    line-height: 200%;
}

.nav-container li
{
    display: inline;
    vertical-align: middle;
    font-size: 70%;
}

/* -------------------------------------------
breadcrumb list
------------------------------------------- */


ol.breadcrumb
{
    display:block;
    overflow-x: auto;
    overflow-y: hidden;
    overflow: auto;
    white-space: nowrap;
}

li.breadcrumb-item
{
    display: inline;
}

li.breadcrumb-item span,
li.breadcrumb-item a
{
    color: #292929;
    font-size: 70%;
}

li.breadcrumb-item a:hover
{
    color: #65a6ff;
}

.breadcrumb-item + .breadcrumb-item::before
{
  padding-left: 0.4em;
  padding-right: 0.6em;
  font-family: FontAwesome;
  font-size: 70%;
  color: #999999;
  content: '\f0da';
}

/* -------------------------------------------
description block
------------------------------------------- */

.description
{
    border: solid 8px #ececec;
    background-color: #f8f9fa;
}

/* -------------------------------------------
pagination
------------------------------------------- */

.page-item.active .page-link
{
    background-color: #455d7a;
    border-color: #f1f1f1;
}

.page-link
{
    color: #292929;
    border-color: #f1f1f1;
    min-width: 38px;
    margin: 0 2px 0 2px;
}

.pager-detail a:hover
{
    color: #65a6ff;
}

/* -------------------------------------------
form & button
------------------------------------------- */

.btn-default
{
    background-color: #2e3440;
}

.searchform
{
    border: solid 2px #ececec;
    background-color: #ffffff;  
    font-size: 90%;
}

.contact
{
    border: solid 2px #ececec;
    background-color: #f8f9fa;
    font-size: 90%;
}

/* -------------------------------------------
toc & heading
------------------------------------------- */

#toc a
{
    font-size: .95em;
    text-decoration: none;
}

#toc
{
    display:block;
    overflow-x: auto;
    overflow-y: hidden;
    overflow: auto;
    white-space: nowrap;
}

#toc ul
{
    list-style: none;
    margin-bottom: 0px;
    padding-left: 1.1em;
    padding-right: 1.1em;
}

#toc li
{
    margin-bottom: .5em;
    margin-top: .5em;
}

#toc li a:hover
{
    color: #65a6ff;
}

#toc ul a::before,
#toc li a::before
{
    margin-right: .2em;
    content: '-';
}

#toc li.toc-h3
{
    font-size: .95em;
}

#toc li.toc-h4
{
    padding-left: 1em;
    font-size: .95em;
}

.head-h3
{
    border-left: solid 8px #65a6ff;
    border-bottom: solid 1px #65a6ff;
}

.head-h4
{
    border-left: solid 4px #65a6ff;
    border-bottom: solid 1px #65a6ff;
}

.head-h5
{
    color: #757575;
    border-left: solid 4px #ececec;
    font-weight: bold;
}

.toc-h3 h3,
.toc-h4 h4
{
    font-weight: bold;
}

/* -------------------------------------------
badge
------------------------------------------- */

/* control with media query */
.card-badge-group
{
    position: absolute;
    bottom: 0;
    right: 0;
}

.card-badge-item,
.single-badge-item,
.twitter-badge-item,
.facebook-badge-item,
.hatena-badge-item
{
    font-weight: normal;
}

.date-badge i,
.category-badge i,
.tag-badge i,
.admin-badge i
{
    color: #65a6ff;
}

.twitter-badge i
{
    color: #55acee;
}

.facebook-badge i
{
    color: #3B5998;
}

.hatena-badge i
{
    color: #008fde;
}

.tag-badge
{
    background-color: #f7f8fa;
    border: solid 1px #f7f8fa;
    font-weight: bold;
}

.category-badge:hover,
.tag-badge:hover,
.admin-badge:hover
{
    color: #65a6ff;
    transition: all 0.3s;
}

.twitter-badge:hover
{
    color: #55acee;
    transition: all 0.3s;
}

.facebook-badge:hover
{
    color: #3B5998;
    transition: all 0.3s;
}

.hatena-badge:hover
{
    color: #008fde;
    transition: all 0.3s;
}

.tag-badge:hover
{
    border: solid 1px #65a6ff;
    transition: all 0.3s;
}

/* -------------------------------------------
post list card
------------------------------------------- */

.post-card
{
    outline: solid 2px #f1f1f1;
    background-color: #ffffff;
}

.post-card:hover .card-title
{
    color: #65a6ff;
    transition: all 0.3s;
}

.card-text
{
    font-size: 90%;
    line-height: 180%;
    min-height: 34%;
    width: 100%;
}

.card-title
{
    border-bottom: solid 1px #f1f1f1;
}

.card-title h4
{
    font-weight: bold;
    line-height: 130%;
    min-height: 37%;
} 

/* -------------------------------------------
post details
------------------------------------------- */

.single
{
    background-color: #ffffff;
    outline: solid 6px #f1f1f1;
}

.single-title a
{
    font-size: 90%;
    line-height: 140%;
    font-weight: bold;
}

.single-subtitle
{
    color: #757575;
}

.single-subtitle a
{
    font-size: 90%;
    line-height: 140%;
    font-weight: bold;
}

.single-title a:hover
{
    color: #65a6ff;
    transition: all 0.3s;
}

.single-body
{
    background-color: #ffffff;
}

.single-description
{
    font-size: 105%;
    line-height: 2.0;
}

.single-text
{
    font-size: 105%;
}

/* -------------------------------------------
related items for post details
------------------------------------------- */

.related-links h5,
.related-tags h5,
.related-posts h5
{
    font-weight: bold;
}

.related-links,
.related-tags,
.related-posts
{
    border-bottom: solid 1px #ececec;
}

.related-post:hover .related-post-title
{
    color: #65a6ff;
    transition: all 0.3s;
}


.related-post-title
{
    font-size: 100%;
    line-height: 120%;
    font-weight: bold;
} 

.related-post:hover .related-post-body
{
    background-color: #f8f9fa;
    transition: all 0.3s;
}

.related-post-date,
.related-post-category
{
    font-size:76%;
    color: #757575;
}

.related-post-date i,
.related-post-category i
{
    color: #65a6ff;
}

.related-link
{
    font-size: 90%;
    line-height: 180%;
    overflow-x: auto;
    white-space: nowrap;
}

.related-link-item:hover
{
    color: #65a6ff;
    transition: all 0.3s;
    text-decoration-line: underline;
}

.related-link i,
.related-tag i
{
    color: #65a6ff;
    font-size: 86%;
    display: inline-block;
    vertical-align: 5%;
}

/* -------------------------------------------
side bar
------------------------------------------- */

.side-bar-parts
{
    background-color: #ffffff;
    width: 100%;
    font-size: 98%;
}

.side-bar-parts-header-popular,
.side-bar-parts-header-recent,
.side-bar-parts-header-category,
.side-bar-parts-header-tag,
.side-bar-parts-header-archive,
.side-bar-parts-header-toc
{
    background-color: #2e3440;
}

.side-bar-parts-header-popular h5,
.side-bar-parts-header-recent h5,
.side-bar-parts-header-category h5,
.side-bar-parts-header-tag h5,
.side-bar-parts-header-archive h5,
.side-bar-parts-header-toc h5
{
    color: #ffffff;
}

ul .side-card
{
    background-color: #ffffff;
    border-top: solid 6px #f1f1f1;
}

.side-bar-parts-footer-category,
.side-bar-parts-footer-tag,
.side-bar-parts-footer-archive,
ul .category,
ul .tag,
ul .archive
{
    border-top: solid 4px #f1f1f1;
}

.side-bar-parts-footer-category,
.side-bar-parts-footer-tag,
.side-bar-parts-footer-archive
{
    background-color: #f1f1f1;
}

.side-bar-parts-footer-category span,
.side-bar-parts-footer-tag span,
.side-bar-parts-footer-archive span
{
    display: inline-block;
    vertical-align: -2%;
}

/* -------------------------------------------
side bar card
------------------------------------------- */

.side-card-title
{
    font-size: 13px;
    font-weight: bold;
    line-height: 1.4;
}

.side-card:hover .side-card-title
{
    color: #65a6ff;
    transition: all 0.3s;
}

.side-card-info
{
    color: #757575;
    border-bottom: solid 1px #ececec;
}

.side-card-info-md
{
    color: #757575;
}

.side-card-date,
.side-card-date-md,
.side-card-category
{
    font-size:72%;
    display: inline-block;
    vertical-align: middle;
}

.side-card-number
{
    font-size:80%;
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
}

.side-card-number i,
.side-card-date i,
.side-card-date-md i,
.side-card-category i
{
    color: #65a6ff;
}

/* -------------------------------------------
side bar list
------------------------------------------- */

.category,
.tag,
.archive
{
    font-size: 90%;
}

.category-item,
.tag-item,
.archive-item
{
    color: #292929;
}

.category-icon,
.tag-icon,
.archive-icon
{
    color: #65a6ff;
}

.category-count,
.tag-count,
.archive-count
{
    background-color: #f1f1f1;
    color: #292929;
    min-width: 36px;
}

.category a:hover,
.category:hover .category-item,
.tag a:hover,
.tag:hover .tag-item,
.archive a:hover,
.archive:hover .archive-item
{
    color: #65a6ff;
    transition: all 0.3s;
}

.category:hover .category-count,
.tag:hover .tag-count,
.archive:hover .archive-count
{
    background-color: #65a6ff;
    color: #ffffff;
    transition: all 0.3s;
}

/* -------------------------------------------
table
------------------------------------------- */

#category-table tr:hover .stretched-link,
#tag-table tr:hover .stretched-link
{
    color: #65a6ff;
    transition: all 0.3s;
}

.stretched-link:hover 
{
    color: #65a6ff;
    transition: all 0.3s;
}

tr
{
    border: solid 2px #ececec;
}

table
{
    width: 100%;
    word-break: break-all;
    word-wrap: break-all;
}

/* -------------------------------------------
link box
------------------------------------------- */

.linkbox-body:hover .linkbox-title
{
    color: #65a6ff;
    transition: all 0.3s;
}

.linkbox-title
{
    font-weight: bold;
    font-size: 100%;
    color: #292929;
}

.linkbox-text
{
    font-weight: normal;
    font-size: 80%;
    color: #757575;
}

/* -------------------------------------------
snippet
------------------------------------------- */

.snippet-title a:hover
{
    color: #65a6ff;
    transition: all 0.3s;
}

.snippet
{
    font-size: 90%;
    line-height: 1.4;
    overflow-x: scroll;
    /*background-color: #2e3440;*/
}

#copy-button
{
    color:#292929;
    font-size:.6rem;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 0;
}

/* -------------------------------------------
graph
------------------------------------------- */

.wc-container
{
    background-color: #2e3440;
}

.wc-container:hover
{
    background-color: #292929;
    transition: all 0.3s;
}

.graph-card:hover
{
    background-color: #f7f8fa;
    transition: all 0.3s;
}

.graph-title
{
    border-bottom: solid 2px #ececec;
    font-weight: bold;
}

.graph-title i
{
    color: #65a6ff;
    font-size: 80%;
    display: inline-block;
    vertical-align: middle;
}

.graph-text p
{
    font-weight: lighter;
    font-size: 70%;
    color: #757575;
    min-height: 32px;
}

.canvas-container-category-post,
.canvas-container-category-tag
{
    position: relative;
    height: 300px;
    width:  100%;
}

.canvas-container-tag-post
{
    position: relative;
    height: 500px;
    width:  100%;
}

.canvas-container-month-post
{
    position: relative;
    height: 600px;
    width:  100%;
}

/* -------------------------------------------
in single-text
------------------------------------------- */

.single-text p
{
    line-height: 2.0;
}

.single-text h3,
.single-text h4
{
    font-weight: bold;
}

.single-text pre code
{
    font-size: 80%;
    line-height: 1.4;
    white-space: pre;
    overflow-x: auto;
    word-wrap: normal;
}

.single-text table
{
    font-size: 84%;
}

.single-text .list-title,
.single-text .table-title,
.single-text .list-title
{
    font-weight: bold;
}
/*
.inner-code
{
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: #f7f8fa;
    font-size: 90%;
    color: #005fff;
    vertical-align: 1px;
}
*/

.inner-code
{
    font-size: 95%;
    color: #0073bb;
    background-color: #f7f8fa;
}

ul.inner-list li
{
    font-size: 100%;
    line-height: 1.8;
    text-indent: -1em;
    list-style-type: none;
}

ul.inner-list li::before
{
    margin-right: .6em;
    font-family: FontAwesome;
    font-size: 90%;
    content: '\f0da';
    color: #cccccc;
}

ol.inner-list li
{
    font-size: 100%;
    line-height: 1.8;
    list-style-type: decimal;
}

.single-text blockquote
{
    font-size: 84%;
    background-color: #f1f1f1;
    color: #757575;
}


/* -------------------------------------------
media query
------------------------------------------- */

@media (max-width: 1024px)
{
    html
    {
        font-size: 80%;
    }
    .side-card-title
    {
        font-size: 74%;
    }
    #category-table,
    #tag-table,
    #archive-table
    {
        font-size: 90%;
    }
}

@media (max-width: 768px)
{
    html
    {
        font-size: 70%;
    }
    .side-card-body
    {
        min-height: 52px;
    }
    .side-card-title
    {
        font-size: 100%;
    }
    .card-badge-group
    {
        position: relative;
        bottom: 0;
        margin: 0 0 0 auto;
    }
    #category-table,
    #tag-table,
    #archive-table
    {
        font-size: 80%;
    }
}

@media (max-width: 450px)
{
    html
    {
        font-size: 80%;
    }
    .single-text
    {
        font-size: 110%;
    }
    .side-card-title
    {
        font-size: 100%;
    }
    .canvas-container-category-post,
    .canvas-container-category-tag
    {
        position: relative;
        height: 230px;
        width:  100%;
    }
    .canvas-container-tag-post
    {
        position: relative;
        height: 500px;
        width:  100%;
    }
    .canvas-container-month-post
    {
        position: relative;
        height: 380px;
        width:  100%;
    }
}