*.pyc
*.pyo
*~
/.vscode
__pycache__
.DS_Store
.env
db.sqlite3
client_secrets.p12
/tmp
/django/.env
/django/log/*
/django/config/settings.py_
/django/config/janome/*
/django/blog/fixtures/text/*
/django/blog/migration/*
/nginx/conf.d/*
/nginx/letsencrypt/*
/nginx/log/*