{% load static %}
                      <div class="row no-gutters w-100">
                        <div class="single-badge-group col mb-2 p-0">
                          <div class="date-badge rounded-0 d-inline-block float-right ml-2 mt-2 px-1">        
                            <p class="badge single-badge-item my-0 px-1 py-2"><i class="fas fa-sync-alt mr-1 p-0"></i>{{ post.updated_at | date:"Y-m-d" }}</p>
                          </div>
                          <div class="date-badge rounded-0 d-inline-block float-right ml-2 mt-2 px-1">
                            <p class="badge single-badge-item my-0 px-1 py-2"><i class="far fa-clock mr-1 p-0"></i>{{ post.published_at | date:"Y-m-d" }}</p>
                          </div>
                          <a class="category-badge rounded-0 d-inline-block float-right ml-2 mt-2 px-1" href="{% url 'blog:category_post' post.category.slug %}">
                            <p class="badge single-badge-item my-0 px-1 py-2"><i class="far fa-sticky-note mr-1 p-0"></i>{{ post.category.name }}</p>
                          </a>
                          {% if request.user.is_authenticated %}
                          <a class="admin-badge rounded-0 d-inline-block float-right ml-2 mt-2 px-1" href="{% url 'admin:blog_post_change' post.pk %}" target="_blank">
                            <p class="badge single-badge-item my-0 px-1 py-2"><i class="fas fa-pen-nib mr-1 p-0"></i>EDIT</p>
                          </a>
                          {% endif %}
                        </div>
                      </div>