{% load filter %}
                        <div class="row no-gutters w-100">
                          <div class="sns-badge-group col mb-2 p-0">
                            <a class="hatena-badge rounded-0 d-inline-block float-right ml-2 mt-2 px-1" href="https://b.hatena.ne.jp/entry/{{ request.scheme }}://{{ request.get_host }}{{ request.path }}" target="_blank" rel="nofollow">
                              <p class="badge hatena-badge-item my-0 px-1 py-2"><i class="icon-hatenabookmark mr-1 p-0"></i>はてブ</p>
                            </a>
                            <a class="facebook-badge rounded-0 d-inline-block float-right ml-2 mt-2 px-1" href="https://www.facebook.com/sharer/sharer.php?u={{ request.scheme }}://{{ request.get_host }}{{ request.path }}" target="_blank" rel="nofollow">
                              <p class="badge facebook-badge-item my-0 px-1 py-2"><i class="icon-facebook mr-1 p-0"></i>Facebook</p>
                            </a>
                            <a class="twitter-badge rounded-0 d-inline-block float-right ml-2 mt-2 px-1" href="https://twitter.com/share?url={{ request.scheme }}://{{ request.get_host }}{{ request.path }}&text={{ label }} - {{ request.site.name }}" target="_blank" rel="nofollow">
                              <p class="badge twitter-badge-item my-0 px-1 py-2"><i class="icon-twitter mr-1 p-0"></i>Twitter</p>
                            </a>
                          </div>
                        </div>