{% extends 'blog/blog_single.html' %}
{% load static %}
{% load filter %}

                      {% block single %}
                      <div class="row no-gutters">
                        <div class="col-12 m-0 p-0">
                          <div class="description mb-5 p-2 w-100">
                            <p class="m-0 p-2">汎用の問い合わせフォームです。当サイトの内容について、お気軽にご連絡ください。ただし、お問い合わせ内容によってはご返信を控えさせていただく場合や、事情によりご返信にお時間をいただく場合がございますので、あらかじめご了承ください。</p>
                          </div>
                          <form method="POST">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-default rounded-0 text-light px-4 float-right">送信</button>
                          </form>
                        </div>
                      </div>
                      {% endblock %}