{% extends 'blog/blog_single.html' %}
{% load static %}
{% load filter %}

                      {% block single %}
                      <div class="table-responsive">
                        <table class="table table-bordered table-striped dt-responsive nowrap m-0 w-100" id="tag-table">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>親カテゴリー</th>
                              <th>タグ名</th>
                              <th>記事数</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for tag in tag_list %}
                            <tr>
                              <td class="position-relative"><a href="{% url 'blog:tag_post' tag.slug %}" class="stretched-link">{{ forloop.counter }}</a></td>
                              <td class="position-relative"><a href="{% url 'blog:tag_post' tag.slug %}" class="stretched-link">{{ tag.category.name }}</a></td>
                              <td class="position-relative"><a href="{% url 'blog:tag_post' tag.slug %}" class="stretched-link">{{ tag.name }}</a></td>
                              <td class="position-relative"><a href="{% url 'blog:tag_post' tag.slug %}" class="stretched-link">{{ tag.count }}</a></td>
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>
                      {% endblock %}