{% extends 'blog/blog_single.html' %}
{% load static %}
{% load filter %}

{% block single %}
                      {% include 'blog/center/badge_sns.html' %}
                      <div class="wc-container col-12 mb-4 p-3 w-100">
                        <div class="m-0 p-0" id="wordcloud"></div>
                      </div>
                      <div class="description m-0 p-2 w-100">
                        <p class="m-0 p-2">{{ request.site.name }} の傾向を可視化しています。利用している技術は主に以下です。</p>
                        <ol class="my-0 py-0">
                          <li>chart.js</li>
                          <li>d3-cloud</li>
                          <li>janome</li>
                        </ol>
                        <p class="m-0 p-2">上の WordCloud は、直近の記事 30 個の本文・説明・タイトルを janome で形態素解析し、名詞だけ抽出して d3-cloud に渡しています。当ページはまだパフォーマンス的に問題がありますが、今後少しずつ改善していきます。また、可視化の実験場としても少しずつ拡張していく予定です。</p>
                      </div>
                      <div class="row no-gutters">
                        <div class="graph-card col-12 col-md-6 mt-5 p-3">
                          <div class="graph-title row no-gutters justify-content-center mb-3 pt-2 px-2 w-100">
                            <h5><i class="fas fa-chart-bar mr-1"></i>カテゴリ別: 記事数</h5>
                          </div>
                          <div class="graph-text p-0">
                            <p class="m-0 p-0">各カテゴリに紐づく記事の件数です。</p>
                          </div>
                          <div class="canvas-container">
                            <canvas class="my-3" id="category-post" style="position: relative; height:30vh; width:100vw"></canvas>
                          </div>
                        </div>
                        <div class="graph-card col-12 col-md-6 mt-5 p-3">
                          <div class="graph-title row no-gutters justify-content-center mb-3 pt-2 px-2 w-100">
                            <h5><i class="fas fa-chart-bar mr-1"></i>カテゴリ別: タグ数</h5>
                          </div>
                          <div class="graph-text p-0">
                            <p class="m-0 p-0">各カテゴリを親に持つタグがどれだけあるかの集計です。役には立たなそう。</p>
                          </div>
                          <div class="canvas-container">
                            <canvas class="my-3" id="category-tag" style="position: relative; height:30vh; width:100vw"></canvas>
                          </div>
                        </div>
                        <div class="graph-card col-12 mt-5 p-3">
                          <div class="graph-title row no-gutters justify-content-center mb-3 pt-2 px-2 w-100">
                            <h5><i class="fas fa-chart-bar mr-1"></i>タグ別: 記事数</h5>
                          </div>
                          <div class="graph-text p-0">
                            <p class="m-0 p-0">各タグに紐づく記事の件数です。ネタの傾向が大体わかります。</p>
                          </div>
                          <div class="canvas-container">
                            <canvas class="my-3" id="tag-post" style="position: relative; height:50vh; width:100vw"></canvas>
                          </div>
                        </div>
                        <div class="graph-card col-12 mt-5 p-3">
                          <div class="graph-title row no-gutters justify-content-center mb-3 pt-2 px-2 w-100">
                            <h5><i class="fas fa-chart-bar mr-1"></i>カテゴリ別: 記事数推移</h5>
                          </div>
                          <div class="graph-text p-0">
                            <p class="m-0 p-0">カテゴリごとの記事数における月単位での推移です。怠け具合がわかります。</p>
                          </div>
                          <div class="canvas-container">
                            <canvas class="my-3" id="post-monthly" style="position: relative; height:100vh; width:100vw"></canvas>
                          </div>
                        </div>
                      </div>
{% endblock %}