{% extends 'blog/blog_single.html' %}
{% load static %}
{% load filter %}

                      {% block single %}
                      {% include 'blog/center/badge_sns.html' %}
                      <div class="wc-container col-12 mb-4 p-3 w-100">
                        <div class="m-0 p-0" id="wordcloud"></div>
                      </div>
                      <div class="description m-0 p-2 w-100">
                        <p class="m-0 p-2">{{ request.site.name }} の傾向を可視化しています。利用している技術は主に以下です。</p>
                        <ol class="my-0 py-0">
                          <li>chart.js</li>
                          <li>d3-cloud</li>
                          <li>Janome</li>
                        </ol>
                        <p class="m-0 p-2">上の WordCloud は、直近の記事 30 個の本文・説明・タイトルを Janome で形態素解析し、名詞だけ抽出して d3-cloud に渡しています。当ページは、バッチ処理で週 1 回更新されます。</p>
                      </div>
                      <div class="row no-gutters">
                        <div class="graph-card col-12 col-md-6 mt-5 p-3">
                          <div class="graph-title row no-gutters justify-content-center mb-3 pt-2 px-2 w-100">
                            <h5><i class="fas fa-chart-bar mr-1"></i>{% verbose_name model_category_post %}</h5>
                          </div>
                          <div class="graph-text p-0">
                            <p class="m-0 p-0">{{ desc_category_post }}</p>
                          </div>
                          <div class="canvas-container-category-post">
                            <canvas class="my-3" id="category-post"></canvas>
                          </div>
                        </div>
                        <div class="graph-card col-12 col-md-6 mt-5 p-3">
                          <div class="graph-title row no-gutters justify-content-center mb-3 pt-2 px-2 w-100">
                            <h5><i class="fas fa-chart-bar mr-1"></i>{% verbose_name model_category_tag %}</h5>
                          </div>
                          <div class="graph-text p-0">
                            <p class="m-0 p-0">{{ desc_category_tag }}</p>
                          </div>
                          <div class="canvas-container-category-tag">
                            <canvas class="my-3" id="category-tag"></canvas>
                          </div>
                        </div>
                        <div class="graph-card col-12 mt-5 p-3">
                          <div class="graph-title row no-gutters justify-content-center mb-3 pt-2 px-2 w-100">
                            <h5><i class="fas fa-chart-bar mr-1"></i>{% verbose_name model_tag_post %}</h5>
                          </div>
                          <div class="graph-text p-0">
                            <p class="m-0 p-0">{{ desc_tag_post }}</p>
                          </div>
                          <div class="canvas-container-tag-post">
                            <canvas class="my-3" id="tag-post"></canvas>
                          </div>
                        </div>
                        <div class="graph-card col-12 mt-5 p-3">
                          <div class="graph-title row no-gutters justify-content-center mb-3 pt-2 px-2 w-100">
                            <h5><i class="fas fa-chart-bar mr-1"></i>{% verbose_name model_month_post %}</h5>
                          </div>
                          <div class="graph-text p-0">
                            <p class="m-0 p-0">{{ desc_month_post }}</p>
                          </div>
                          <div class="canvas-container-month-post">
                            <canvas class="my-3" id="month-post"></canvas>
                          </div>
                        </div>
                      </div>
                      {% endblock %}