{% load filter %}
          <div class="header container-fruid m-0 p-0" id="header">
            <div class="container max-width p-0">
              <div class="row no-gutters">
                <div class="col-12">
                  <h1 class="header-item m-0 px-3 py-0"><a href="{% url "blog:index" %}">{{ request.site.name }}</a></h1>
                </div>
                <div class="col-12">
                  <ul class="header-list list-group list-group-horizontal-lg px-3 pb-2">
                    <li class="list-group-item border-0 rounded-0 text-left bg-transparent ml-0 mr-2 mr-md-3 my-0 p-0"><a class="text-light" href="{% url 'blog:index' %}">ブログ</a></li>
                    <li class="list-group-item border-0 rounded-0 text-left bg-transparent ml-0 mr-2 mr-md-3 my-0 p-0"><a class="text-light" href="{% url 'blog:report' %}">レポート</a></li>
                    <li class="list-group-item border-0 rounded-0 text-left bg-transparent ml-0 mr-2 mr-md-3 my-0 p-0"><a class="text-light" href="{% url 'blog:feed' %}" target="_blank" rel="nofollow">RSS</a></li>
                    <li class="list-group-item border-0 rounded-0 text-left bg-transparent ml-0 mr-2 mr-md-3 my-0 p-0"><a class="text-light" href="{{ request.site.sitedetail.github }}" target="_blank" rel="nofollow">Github</a></li>
                    {% if request.user.is_authenticated %}
                    <li class="list-group-item border-0 rounded-0 text-left bg-transparent ml-0 mr-2 mr-md-3 my-0 p-0"><a class="text-light" href="{% url 'blog:draft' %}" rel="nofollow">下書き</a></li>
                    <li class="list-group-item border-0 rounded-0 text-left bg-transparent ml-0 mr-2 mr-md-3 my-0 p-0"><a class="text-light" href="{% url 'blog:ping' %}" rel="nofollow">Ping</a></li>
                    <li class="list-group-item border-0 rounded-0 text-left bg-transparent ml-0 mr-2 mr-md-3 my-0 p-0"><a class="text-light" href="{% url 'blog:snippet' %}" target="_blank" rel="nofollow">スニペット</a></li>
                    <li class="list-group-item border-0 rounded-0 text-left bg-transparent ml-0 mr-2 mr-md-3 my-0 p-0"><a class="text-light" href="{% url 'admin:index' %}" target="_blank" rel="nofollow">管理サイト</a></li>
                    {% endif %}
                  </ul>
                </div>
              </div>
            </div>
          </div>