{% load filter %}
              {% if not DEBUG %}
              {% if popular_posts %}
              <div class="side-bar-parts shadow-0 mx-0 mt-0 mb-5 p-0">
                <div class="side-bar-parts-header-recent text-center p-3">
                  <h5 class="m-0 p-0">人気の記事</h5>
                </div>
                <div class="side-bar-parts-body-recent">
                  <ul class="list-unstyled list-item m-0 p-0">
                    {% for popular_post in popular_posts %}
                    <a href="{{ popular_post.link | urlize }}">
                      <div class="side-card row no-gutters px-2 pt-2 pb-3 pb-md-2 pb-lg-3">
                        <div class="side-card-info col-12 d-lg-block d-md-none mb-2 px-2">
                          <p class="side-card-number my-0 mr-3"><i class="fas fa-check mr-1 p-0"></i>{{ popular_post.page_view }} view</p>
                          <p class="side-card-date my-0"><i class="far fa-clock mr-1 p-0"></i>{{ popular_post.detail_published_at | date:"Y-m-d" }}</p>
                        </div>
                        {% if popular_post.detail_eyecatch %}
                        <div class="col-4 d-lg-block d-md-none">
                          <img src="" data-src="{{ popular_post.detail_eyecatch.url }}" class="lozad w-100" alt="eyecatch">
                        </div>
                        {% endif %}
                        <div class="side-card-body col pl-2 pl-md-0 pl-lg-2">
                          <p class="side-card-title m-0 p-0">{{ popular_post.detail_title | set_text_spacing | truncatechars_ja:80 }}{% if popular_post.detail_subtitle %} - {{ popular_post.detail_subtitle | set_text_spacing }}{% endif %}</p>
                        </div>
                        <div class="side-card-info-md col-12 d-none d-md-block d-lg-none m-0 p-0">
                          <span class="side-card-date-md float-right my-0"><i class="far fa-clock mr-1 p-0"></i>{{ popular_post.detail_published_at | date:"Y-m-d" }}</span>
                        </div>
                      </div>
                    </a>
                    {% endfor %}
                  </ul>
                </div>
              </div>
              {% endif %}
              {% endif %}