{% load filter %}
              <div class="searchbox m-0 pt-0 pb-5">
                {% if '/draft/' in request.path %}
                <form method="GET" class="input-group h-100" action="{% url 'blog:draft' %}">
                {% else %}
                <form method="GET" class="input-group h-100" action="{% url 'blog:index' %}">
                {% endif %}
                  <input type="text" placeholder="検索" name="query" class="form-control searchform rounded-0 h-auto" value="{{ request.GET.get }}">
                </form>
              </div>