{% load filter %}
              <div class="side-bar-parts shadow-0 mx-0 mt-0 mb-5 p-0">
                <div class="side-bar-parts-header-tag text-center p-3">
                  <h5 class="m-0 p-0">タグ</h5>
                </div>
                <div class="side-bar-parts-body-tag">
                  <ul class="list-unstyled list-item m-0 p-0">
                    {% for tag in tags %}
                    <a class="col m-0 p-0" href="{% url 'blog:tag_post' tag.slug %}">
                      <div class="tag row no-gutters p-2">
                        <div class="col">
                          <p class="tag-item m-0 p-1"><i class="tag-icon fas fa-caret-right mr-2"></i>{{ tag.name }}</p>
                        </div>
                        <div class="col-offset">
                          <p class="tag-count rounded-0 m-0 px-2 py-1">{{ tag.count }}</p>
                        </div>
                      </div>
                    </a>
                    {% endfor %}
                  </ul>
                </div>
                <div class="side-bar-parts-footer-tag">
                  <a class="col m-0 p-0" href="{% url 'blog:tag' %}">
                    <div class="tag text-center m-0 p-2">
                      <div class="tag-body m-0 p-0">
                        <span class="tag-item">すべて見る</span>
                      </div>
                    </div>
                  </a>
                </div>
              </div>